# SVM

<pre>
1. Demonstrate simple linear SVM classification using a medical domain related dataset. [The dataset may also be numerical. This is given for you to just understand basic SVM]
2. Use a medical image dataset. Apply SVM and perform a Binary classification over the dataset. Guage the performance of your SVM classification. 
3. Use any face expression dataset. Demonstrate Multiclass classification using SVM. Guage the performance of your SVM classification. 
</pre>

# Kaggle Dataset

## Drive Connection

In [ ]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

## Get key

In [ ]:
!mkdir /root/.kaggle/
!cp /drive/MyDrive/kaggle.json /root/.kaggle/

In [ ]:
!pip install --upgrade --force-reinstall --no-deps kaggle

Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 2.8 MB/s
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73051 sha256=7f94e44654c3ee4883416372a0fe57f6571e215d93e92658e85d6ffaf040399b
  Stored in directory: /root/.cache/pip/wheels/62/d6/58/5853130f941e75b2177d281eb7e44b4a98ed46dd155f556dc5
Successfully built kaggle
Installing collected packages: kaggle
  Attempting uninstall: kaggle
    Found existing installation: kaggle 1.5.12
    Uninstalling kaggle-1.5.12:
      Successfully uninstalled kaggle-1.5.12
Successfully installed kaggle-1.5.12

## Download medical image dataset

In [ ]:
!kaggle competitions download -c aptos2019-blindness-detection

Downloading aptos2019-blindness-detection.zip to /content
100% 9.51G/9.51G [01:05<00:00, 162MB/s]
100% 9.51G/9.51G [01:05<00:00, 155MB/s]

In [ ]:
!unzip -qq aptos2019-blindness-detection.zip

## Download Medical Numerical dataset

In [ ]:
!kaggle datasets download -d uciml/pima-indians-diabetes-database

Downloading pima-indians-diabetes-database.zip to /content
  0% 0.00/8.91k [00:00<?, ?B/s]
100% 8.91k/8.91k [00:00<00:00, 3.38MB/s]

In [ ]:
!unzip pima-indians-diabetes-database

Archive:  pima-indians-diabetes-database.zip
  inflating: diabetes.csv

## Download Facial Expression dataset

In [ ]:
!kaggle datasets download -d mahmoudima/mma-facial-expression

mma-facial-expression.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!unzip -qq mma-facial-expression

replace MMAFEDB/test/angry/10Exp0angry_actor_150.jpg? [y]es, [n]o, [A]ll, [N]one, [r]ename:

# Get image to work on from dataset

In [ ]:
# get file name
import os

IMAGE_DIR = "train_images"
IMAGE_NAME = os.listdir(IMAGE_DIR)[0]
print(IMAGE_NAME)

c26f98f58350.png

# Get image from web

In [ ]:
!wget https://media.wired.com/photos/5c523ece95d28a2cb5b76db1/1:1/w_494,h_494,c_limit/Backchannel-Lena-Soderberg-FA.jpg -O image_reserve.jpg
IMAGE_DIR_2 = ""
IMAGE_NAME_2 = "image_reserve.jpg"

--2022-03-06 09:49:51--  https://media.wired.com/photos/5c523ece95d28a2cb5b76db1/1:1/w_494,h_494,c_limit/Backchannel-Lena-Soderberg-FA.jpg
Resolving media.wired.com (media.wired.com)... 151.101.0.239, 151.101.64.239, 151.101.128.239, ...
Connecting to media.wired.com (media.wired.com)|151.101.0.239|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 54209 (53K) [image/jpeg]
Saving to: ‘image_reserve.jpg’

image_reserve.jpg   100%[===================>]  52.94K  --.-KB/s    in 0.01s

2022-03-06 09:49:51 (4.86 MB/s) - ‘image_reserve.jpg’ saved [54209/54209]

# Imports

In [ ]:
import cv2
import os
from google.colab.patches import cv2_imshow
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd

# Task 1 : Linear SVM on Medical numerical dataset

In [ ]:
df = pd.read_csv("diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

No nulll values, and all are numerical, so we can go for SVC directly

In [ ]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [ ]:
x = df.drop('Outcome', axis=1)
y = df['Outcome']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.15)

classifier = SVC(kernel="linear")
classifier.fit(x_train, y_train)

SVC(kernel='linear')

In [ ]:
classifier.score(x_test, y_test)

0.7327586206896551

Conclusion 1 : Linear SVC was able to classify the raw dataset with 73% accuracy on test set.

In [ ]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

Since Standard Deviation is very high in the data, I'll preprocess the data and try again

In [ ]:
sc = StandardScaler()
x = sc.fit_transform(x)

x_train2, x_test2, y_train2, y_test2 = train_test_split(x, y, test_size=0.15)

classifier2 = SVC(kernel="linear")
classifier2.fit(x_train2, y_train2)

SVC(kernel='linear')

In [ ]:
classifier2.score(x_test2, y_test2)

0.75

Conclusion 2 : A slight improvement in the accuracy is seen due to scaling of the data.

# Task 2 : SVM Binary Classification on Mediacal Dataset

In [ ]:
train = pd.read_csv("train.csv")
train.head()

        id_code  diagnosis
0  000c1434d8d7          2
1  001639a390f0          4
2  0024cdab0c1e          1
3  002c21358ce6          0
4  005b95c28852          0

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3662 entries, 0 to 3661
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_code    3662 non-null   object
 1   diagnosis  3662 non-null   int64
dtypes: int64(1), object(1)
memory usage: 57.3+ KB

In [ ]:
test = pd.read_csv("test.csv")
test.head()

        id_code
0  0005cfc8afb6
1  003f0afdcd15
2  006efc72b638
3  00836aaacf06
4  009245722fa4

 Test data is not labelled, so I'll split the data in train for the sake of testing

In [ ]:
train['diagnosis'].unique()

array([2, 4, 1, 0, 3])

Here, I'll take 2 classes only : 0 and 4 as they are the two extreme ends of Diabetic Retinopathy <br/>
1. Read the file names from csv
2. Load the image
3. Convert to grayscale
4. Flatten the data to fit into a dataset
5. Train SVC on it

In [ ]:
train_dir = "train"
test_dir = "test"

In [ ]:
def load_data(dir, files, labels, allowed) :
  x = []
  y = []
  l = len(files)
  for i in range(l):
    if labels[i] not in allowed : 
      continue
    pth = os.path.join(dir, str(files[i])+".png")
    img = cv2.imread(pth)
    img = cv2.resize(img, (200, 150))
    img = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
    x.append(img.flatten())
    y.append(labels[i])
  
  df = pd.DataFrame(x)
  df["label"] = y
  return df
  
data = load_data("train_images", train["id_code"], train["diagnosis"], [0,4])

In [ ]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,29991,29992,29993,29994,29995,29996,29997,29998,29999,label
0,2,1,2,1,2,2,2,2,2,1,...,1,0,1,1,1,2,0,1,1,4
1,1,1,1,1,1,1,1,1,4,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,3,3,1,0,1,1,2,...,1,1,2,1,1,1,1,1,1,4
4,10,10,9,11,10,10,10,11,10,11,...,11,11,10,11,11,10,11,9,11,0

In [ ]:
data.shape

(2100, 30001)

In [ ]:
x = data.drop("label", axis=1)
y = data["label"]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.10)

In [ ]:
# A simple scaling
x_train = x_train/255
x_test = x_test/255

In [ ]:
classifier = SVC()
classifier.fit(x_train, y_train)

SVC()

In [ ]:
classifier.score(x_test, y_test)

0.9380952380952381

Conclusion 2 : The SVM is able to classify the images with 93% accuracy, which in my opinion is pretty high for a non DL method.

# Task 3 : SVM Multiclass Classification on Face Expression Dataset

In [ ]:
mapping = {
    "angry"     : 0,
    "disgust"   : 1,
    "fear"      : 2,
    "happy"     : 3,
    "neutral"   : 4,
    "sad"       : 5,
    "surprise"  : 6
}

In [ ]:
def get_dataset(dir) :
  x = []
  y = []

  for k, v in mapping.items() : 
    subdir = os.path.join(dir, k)
    for name in os.listdir(subdir) : 
      pth = os.path.join(subdir, name)
      img = cv2.imread(pth)
      img = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
      x.append(img.flatten())
      y.append(v)
  df = pd.DataFrame(x)
  df["label"] = y
  return df


train_data = get_dataset(os.path.join("MMAFEDB", "train"))
test_data = get_dataset(os.path.join("MMAFEDB", "test"))

In [ ]:
train_data.head()

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,label
0,77,65,65,78,75,60,58,71,63,67,...,126,96,-127,-115,-127,123,124,-126,-117,0
1,33,21,13,23,8,9,70,117,-126,-114,...,-120,-109,-102,-95,-93,-95,-103,-118,123,0
2,-106,-124,98,74,66,52,36,33,33,56,...,93,87,76,73,82,96,110,-128,-110,0
3,82,103,74,47,49,71,76,77,63,59,...,-79,-114,-109,-102,-96,-89,-79,-65,-55,0
4,78,75,70,64,60,64,74,82,82,83,...,-127,-73,-73,-63,-47,-44,-51,-51,-42,0

In [ ]:
print(train_data.shape)
print(test_data.shape)

(92968, 2305)
(17356, 2305)

The training takes a very very long time, so I will reduce the size of the data

In [ ]:
train_data = train_data.sample(frac=0.2)
test_data = test_data.sample(frac=0.2)

In [ ]:
print(train_data.shape)
print(test_data.shape)

(18594, 2305)
(3471, 2305)

In [ ]:
train_x = train_data.drop("label", axis=1)
train_y = train_data["label"]
test_x = test_data.drop("label", axis=1)
test_y = test_data["label"]

In [ ]:
classifier = SVC()
classifier.fit(train_x, train_y)

SVC()

In [ ]:
classifier.score(test_x, test_y)

0.3889369057908384

Conclusion 3 : Due to small amount of data for such a complex task, as well as SVM's simplicity compared to CNNs, we can see that the accuracy is very low.